#canvas {
  /*  width: 2000px;
  height: 2000px;*/
  height: fit-content;
  width: fit-content;
  border: 0px solid transparent;
  padding: 0px;
}

.rectangle {
  border: 1px solid #FF0000;
  position: absolute;
}

#pic {
  height: 540px;
  width: 960px;
}