version: "3.8"

services:

  flask:
    image: jackallope/tracking_docker:flasks
    container_name: flask
    restart: always
    expose:
      - 8080

  nginx:
    image: jackallope/tracking_docker:nginxs
    container_name: nginx
    restart: always
    ports:
      - "80:80"