{% extends "base.html" %}
{% block title %}Analysis{% endblock %}
{% block head %}
{{ super() }}
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
{% endblock %}

{% block bodystart %}

<body onload="grapher();">
  {% endblock %}

  {% block content %}
  <form method=post action="" enctype="multipart/form-data">
    {{ form.experiment}}
    {{ form.date }}
    {{ form.vids }}

    {{ form.submit }}
  </form>
  <input type="button" id="mybutton" value="Calculate" />
  <script type=text/javascript>
    $(function() {
      $("#mybutton").click(function(event) {
        $.getJSON('/call_calcs', {},
          function(data) {});
        return false;
      });
    });
  </script>
  <script charset="utf-8" type="text/javascript">
    $(document).ready(function() {


      $(function() {
        $("#select_experiment").prop("selectedIndex", -1);
        var dropdown = {
          experiment: $('#select_experiment'),
          dates: $('#select_date'),
          video: $('#select_vids')
        };

        // TODO: make this into one fuction that takes an argument
        function updateDates() {
          var send = {
            experiment: dropdown.experiment.val()
          };
          dropdown.dates.attr('disabled', 'disabled');
          dropdown.dates.empty();
          $.getJSON("{{ url_for('routes_for_flask.get_dates') }}", send, function(data) {
            data.forEach(function(item) {
              dropdown.dates.append(
                $('<option>', {
                  value: item[0],
                  text: item[1]
                })
              );
            });
            dropdown.dates.removeAttr('disabled');
            updateVideo();
          });

        }

        function updateVideo() {
          var send = {
            experiment: dropdown.experiment.val(),
            dates: dropdown.dates.val()
          };
          dropdown.video.attr('disabled', 'disabled');
          dropdown.video.empty();
          $.getJSON("{{ url_for('routes_for_flask.get_video') }}", send, function(data) {
            data.forEach(function(item) {
              dropdown.video.append(
                $('<option>', {
                  value: item[0],
                  text: item[1]
                })
              );
            });
            dropdown.video.removeAttr('disabled');
          });
        }

        dropdown.dates.on('change', function() {
          updateVideo();
        });

        dropdown.experiment.on('change', function() {
          updateDates();
        });

      });

    });
  </script>
  {% for i in range( nums | length ) %}
  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h6 class="text-primary font-weight-bold m-0">Tissue: {{ nums[i] }} Freq: {{ freqs[i] }} Type: {{ types[i] }}</h6>
        </div>
        <div class="card-body">
          <div style="height: 600px;" id="{{i}}"></div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
  <script type="text/javascript" src="{{ url_for('static', filename='JS/analysis.js') }}"></script>
  <form id="graphing" action="#" onsubmit="grapher();return false">
    <input type="hidden" id="dataframe" name="dataframe" value="{{ json_data_list }}" />
  </form>
  {% endblock %}