{% extends "base.html" %}
{% block title %}Video Selection Block{% endblock %}

{% block content %}
<form method=post action="" enctype="multipart/form-data">
  {{ form.csrf_token }}
  {{ form.experiment}}
  {{ form.date }}
  {{ form.vids }}

  {{ form.submit }}
</form>
{% endblock %}

{% block extrajs %}
<script charset="utf-8" type="text/javascript">
  $(document).ready(function() {


    $(function() {
      $("#select_experiment").prop("selectedIndex", -1);
      var dropdown = {
        experiment: $('#select_experiment'),
        dates: $('#select_date'),
        video: $('#select_vids')
      };

      // TODO: make this into one fuction that takes an argument
      function updateDates() {
        var send = {
          experiment: dropdown.experiment.val()
        };
        dropdown.dates.attr('disabled', 'disabled');
        dropdown.dates.empty();
        $.getJSON("{{ url_for('routes_for_flask.get_dates') }}", send, function(data) {
          data.forEach(function(item) {
            dropdown.dates.append(
              $('<option>', {
                value: item[0],
                text: item[1]
              })
            );
          });
          return false;
        });
      };
    })
  })
</script>
<!-- TODO: put this in a new files -->
<script charset="utf-8" type="text/javascript">
  $(document).ready(function() {


    $(function() {
      $("#select_experiment").prop("selectedIndex", -1);
      var dropdown = {
        experiment: $('#select_experiment'),
        dates: $('#select_date'),
        video: $('#select_vids')
      };

      // TODO: make this into one fuction that takes an argument
      function updateDates() {
        var send = {
          experiment: dropdown.experiment.val()
        };
        dropdown.dates.attr('disabled', 'disabled');
        dropdown.dates.empty();
        $.getJSON("{{ url_for('routes_for_flask.get_dates') }}", send, function(data) {
          data.forEach(function(item) {
            dropdown.dates.append(
              $('<option>', {
                value: item[0],
                text: item[1]
              })
            );
          });
          dropdown.dates.removeAttr('disabled');
          updateVideo();
        });

      }

      function updateVideo() {
        var send = {
          experiment: dropdown.experiment.val(),
          dates: dropdown.dates.val()
        };
        dropdown.video.attr('disabled', 'disabled');
        dropdown.video.empty();
        $.getJSON("{{ url_for('routes_for_flask.get_video') }}", send, function(data) {
          data.forEach(function(item) {
            dropdown.video.append(
              $('<option>', {
                value: item[0],
                text: item[1]
              })
            );
          });
          dropdown.video.removeAttr('disabled');
        });
      }

      dropdown.dates.on('change', function() {
        updateVideo();
      });

      dropdown.experiment.on('change', function() {
        updateDates();
      });

    });

  });
</script>
{% endblock %}