{% extends "base.html" %}
{% block title %}Pick posts {% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='JS/boxes.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style/myStyle.css') }}">
{% endblock %}

{% block content %}
<h1>Multi Tissue Tracking</h1>
<h5> Please select posts for {{ number_tissues }} tissues</h5>
<!-- TODO: use session instead of hidden forms -->
<form id="number_of_posts" action="#" onsubmit="getPostCount();return false">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <input type="hidden" id="videoId" name="videoId" value="{{ vid_id }}" />
  <input type="hidden" id="numTissues" name="numTissues" value="{{ number_tissues }}" />
  <label for="calDist">Enter the calibration Disttance (mm)</label>
  <input type="number" step="any" id="calDist" name="calDist" />
  <input type="submit" value="Submit">
</form>
<div id="canvas"><img id="pic" src="{{ path }}" alt="Heart Tissue" /></div>

<div id="container"></div>
{% endblock %}