<!DOCTYPE html>
<html>

<head>

  <title>Multi-Tissue-Tracking-Project</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style/myStyle.css') }}">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='JS/boxes.js') }}"></script>

</head>

<body onload="getPostCount();">

  <h1>Multi Tissue Tracking</h1>
  <h5> Please select posts for {{ number_tissues }} tissues</h5>

  <form id="number_of_posts" action="#" onsubmit="getPostCount();return false">
    <input type="hidden" id="videoId" name="videoId" value="{{ vid_id }}" />
    <input type="hidden" id="numTissues" name="numTissues" value="{{ number_tissues }}" />
  </form>
  <div id="canvas"><img id="pic" src="{{ path }}" alt="Heart Tissue" /></div>

  <div id="container"></div>

</body>

</html>