{% extends "base.html" %}
{% block title %}Show Tissues{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style/myStyle.css') }}">
{% endblock %}


{% block content %}
<table>
  <tr>
    <th>ID</th>
    <th>Number</th>
    <th>Delete</th>
    <th>Show Posts</th>
  </tr>
  {% for i in data %}
  <tr>
    <td>{{ i['bio_reactor_id'] }}</td>
    <td>{{ i['bio_reactor_number'] }}</td>
    <td>
      <button type="button" onclick="makeSure({{ i['bio_reactor_id'] }})">Delete</button>
    </td>
    <td>
      <button type="button" onclick="window.location.href='/showPosts/{{ i['bio_reactor_id'] }}';">Show Posts</button>
    </td>
  </tr>
  {% endfor %}
</table>
<button type="button" onclick="window.location.href='/addBio';">Add Bio Reactor</button>

{% endblock %}

{% block extrajs %}
<script>
  function makeSure(id) {
    console.log(id)
    var r = confirm("Are you sure you want to Delete");
    if (r == true) {
      $(document).ready(function() {
        $.ajax({
          type: "POST",
          url: '/deleteTissue',
          dataType: "json",
          data: JSON.stringify(id),
          success: function(data) {
            console.log(data);
            window.location.reload(true);
          }
        })
      });
    }
  }
</script>
{% endblock %}