{% extends "dbBase.html" %}
{% block title %}Show Video{% endblock %}


{% block morecontent %}

<table>
  <tr>
    <th>ID</th>
    <th>Date uploaded</th>
    <th>Date recored</th>
    <th>Frequency</th>
    <th>Calibration Dist (mm)</th>
    <th>Calibraton Factor</th>
    <th>Save Location</th>
    <th>Experiment Number</th>
    <th>Bio Reactor Number</th>
    <th>Bio Reactor ID</th>
    <th>Delete</th>
    <th>Edit</th>
    <th>Download</th>
  </tr>
  {% for vid in data %}
  <tr>
    <!-- TODO: get bio reactor num fiom the id and pass it here -->
    <td>{{ vid['video_id'] }}</td>
    <td>{{ vid['date_uploaded'] }}</td>
    <td>{{ vid['date_recorded'] }}</td>
    <td>{{ vid['frequency'] }}</td>
    <td>{{ vid['calibration_distance'] }}</td>
    <td>{{ vid['calibration_factor'] }}</td>
    <td>{{ vid['save_location'] }}</td>
    <td>{{ vid['experiment_num'] }}</td>
    <td>{{ vid['bio_reactor_number'] }}</td>
    <td>{{ vid['bio_reactor_id'] }}</td>
    <td>
      <button type="button" onclick="makeSure({{ vid['video_id'] }}, '/deleteVideo')">Delete</button>
    </td>
    <td>
      <button type="button">Edit</button>
    </td>
    <td>
      <form action="/download" method="POST">
        <button type="submit" name="download" value="{{ vid['save_location'] }}">Download</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}