<!DOCTYPE htmls>
<html>

<head>
  <title> Show Bio Reactors </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style/myStyle.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body>
  <script>
    function makeSure(id) {
      var r = confirm("Are you sure you want to Delete");
      if (r == true) {
        $(document).ready(function() {
          $.ajax({
            type: "POST",
            url: '/deleteBio',
            dataType: "json",
            data: JSON.stringify(id),
            success: function(data) {
              console.log(data);
              window.location.reload(true);
            }
          })
        });
      }
    }
  </script>
  <table>
    <tr>
      <th>ID</th>
      <th>Number</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
    {% for i in data %}
    <tr>
      <td>{{ i['bio_id'] }}</td>
      <td>{{ i['bio_num'] }}</td>
      <td><button type="button" onclick="makeSure({{ i['bio_id'] }})">Delete</button></td>
      <td><button type="button">Edit</button></td>
    </tr>
    {% endfor %}
  </table>

</body>