<!DOCTYPE htmls>
<html>

<head>
  <title>Show Tissues</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style/myStyle.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

  <script>
    function makeSure(id) {
      var r = confirm("Are you sure you want to Delete");
      if (r == true) {
        $(document).ready(function() {
          $.ajax({
            type: "POST",
            url: '/deleteTissue',
            dataType: "json",
            data: JSON.stringify(id),
            success: function(data) {
              console.log(data);
              window.location.reload(true);
            }
          })
        });
      }
    }
  </script>
  <table>
    <tr>
      <th>Tissue ID</th>
      <th>Tisssue Number</th>
      <th>Post</th>
      <th>CSV Path</th>
      <th>Experiment Number</th>
      <th>Bio Reactor Number</th>
      <th>Video ID</th>
      <th>Delete</th>
      <th>Edit</th>
      <th>Download</th>
    </tr>
    {% for tissue in data %}
    <tr>
      <td>{{ tissue['tissue_id'] }}</td>
      <td>{{ tissue['tissue_number'] }}</td>
      <td>{{ tissue['post'] }}</td>
      <td>{{ tissue['csv_path'] }}</td>
      <td>{{ tissue['experiment_num'] }}</td>
      <td>{{ tissue['bio_reactor_num'] }}</td>
      <td>{{ tissue['video_id'] }}</td>
      <td>
        <button type="button" onclick="makeSure({{ tissue['tissue_id'] }})">Delete</button>
      </td>
      <td><button type="button" onclick="test()">Edit</button></td>
      <td><button type=" button">Download</button></td>

    </tr>
    {% endfor %}
  </table>

</body>

</html>