<!doctype html>
<html>

<title>

</title>

<body>
  <h2 style="text-align: center;">Upload a File</h2>

  <form method=post action="" enctype="multipart/form-data">
    <fieldset>

      <legend> Uplaod Form </legend>
      {{ form.hidden_tag() }}


      {{ form.date_recorded.label }}<br>
      {{ form.date_recorded }}
      <br>

      {{ form.num_tissues.label }}<br>
      {{ form.num_tissues }}
      <br>

      {{ form.file.label }}<br>
      {{ form.file }}
      <br>

      {{ form.submit }}

    </fieldset>
  </form>
</body>

</html>