{% extends "base.html" %}
{% block title %}Upload to B{% endblock %}

{% block content %}
<h2 style="text-align: center;">Upload a Vid</h2>

<form method=post action="" enctype="multipart/form-data">
  <fieldset>

    <legend> Upload Form</legend>
    {{ form.csrf_token }}

    {{ form.date_recorded.label }}<br>
    {{ form.date_recorded }}
    <br>

    {{ form.post.label }}<br>
    {{ form.post}}
    <br>

    {{ form.bio_reactor.label }}<br>
    {{ form.bio_reactor }}
    <br>

    {{ form.experiment_num.label }}<br>
    {{ form.experiment_num }}
    <br>

    {{ form.frequency.label }}<br>
    {{ form.frequency }}
    <br>

    {{ form.file.label }}<br>
    {{ form.file }}
    <br>

    {{ form.submit }}

  </fieldset>
</form>
{% endblock %}